<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="demo/css/application.css">

  	<script type="text/javascript" src="demo/js/jquery.min.js"></script>
  	<script type="text/javascript" src="lib/jquery.raty.min.js"></script>

  	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
	<div id="star"></div>
<script type="text/javascript">
	$(function() {
      $.fn.raty.defaults.path = 'lib/img';

      $('#star').raty();
  	});
</script>
</body>
</html>